<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <img src="assets/images/poro.png" alt="image" width="100px" height="70px">
        <span class="span">LoL Predictor</span>
        <span class="example-spacer"></span>
        <span class="span" routerLink="/agents">Agents</span>
        <mat-icon matTooltip="Send message to all users" class="example-icon" aria-hidden="false" aria-label="Example broadcast icon" matTooltip="beach">beach_access</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example mesSSSsage icon" matTooltip="whats hot">whatshot</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example users icon" matTooltip="grill">outdoor_grill</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example users icon" matTooltip="brains">psychology</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>